@import './reset.css';
@import './element-ui.scss';

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// table页面
.container-table{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  .table{
    flex: 1;
  }
}
// 普通页面
.container{
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}
.container-full{
  flex: 1;
  overflow-y: auto;
}